
<div class="icon-bar">
    <a  class="hand" (click)="getreallySocial();"> <i class="fa fa-hand-spock-o" aria-hidden="true"></i></a>
    <a href="#" [hidden]="getSocial" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#"  [hidden]="getSocial" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#"  [hidden]="getSocial" class="google"><i class="fa fa-google"></i></a> 
    <a href="#"  [hidden]="getSocial" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" [hidden]="getSocial"  class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>
  <div>
<app-header></app-header>
<router-outlet></router-outlet>

<app-footer></app-footer>
</div>


  

