<!--Main Layout-->
<main class="text-center py-5 bcColor">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="card zoom" >
              <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" src="/assets/card1.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Mystic Mountains</h4>
                <p class="card-text">Far over the misty mountains cold
                    To dungeons deep and caverns old
                    We must away ere break of day
                    To seek the pale enchanted gold.</p>
                <a  class="btn btn-primary" mdbWavesEffect>Explore....</a>
              </div>
            </div>
       </div>

       <div class="col-md-4">
            <div class="card zoom" >
                <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" data-wow-offset="20" src="/assets/card2.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Land of Almighty</h4>
                  <p class="card-text">For ancient king and elvish lord
                      There many a gleaming golden hoard
                      They shaped and wrought, and light they caught
                      To hide in gems on hilt of sword.</p>
                  <a  class="btn btn-primary" mdbWavesEffect>Explore...</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card zoom" >
                  <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" src="/assets/card4.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Garland of Flowers</h4>
                    <p class="card-text">On silver necklaces they strung
                        The flowering stars, on crowns they hung
                        The dragon-fire, in twisted wire
                        They meshed the light of moon and sun.
                        </p>
                    <a  class="btn btn-primary" mdbWavesEffect>Explore...</a>
                  </div>
                </div>
      </div>

      </div>

     </div>


     <div class="view1 intro-2" >
        <div class="full-bg-img">
          <div class="mask rgba-purple-light flex-center">
            <div class="container text-center white-text wow fadeInUp">
               
            
              </div>
          </div>
        </div>
      </div>

      
<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-md-4">
        <div class="card zoom" >
            <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" src="/assets/card1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Mystic Mountains</h4>
              <p class="card-text">Far over the misty mountains cold
                  To dungeons deep and caverns old
                  We must away ere break of day
                  To seek the pale enchanted gold.</p>
              <a  class="btn btn-primary" mdbWavesEffect>Explore....</a>
            </div>
          </div>
     </div>

     <div class="col-md-4">
          <div class="card zoom" >
              <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" data-wow-offset="20" src="/assets/card2.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Land of Almighty</h4>
                <p class="card-text">For ancient king and elvish lord
                    There many a gleaming golden hoard
                    They shaped and wrought, and light they caught
                    To hide in gems on hilt of sword.</p>
                <a  class="btn btn-primary" mdbWavesEffect>Explore...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card zoom" >
                <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" src="/assets/card4.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Garland of Flowers</h4>
                  <p class="card-text">On silver necklaces they strung
                      The flowering stars, on crowns they hung
                      The dragon-fire, in twisted wire
                      They meshed the light of moon and sun.
                      </p>
                  <a  class="btn btn-primary" mdbWavesEffect>Explore...</a>
                </div>
              </div>
    </div>

    </div>

    
  </div>

  
  <div class="view2 intro-2" >
      <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
          <div class="container text-center white-text wow fadeInUp">
             
          
            </div>
        </div>
      </div>
    </div>

    
<div class="container" style="margin-top: 40px;">
<div class="row">
  <div class="col-md-4">
      <div class="card zoom" >
          <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" src="/assets/card1.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Mystic Mountains</h4>
            <p class="card-text">Far over the misty mountains cold
                To dungeons deep and caverns old
                We must away ere break of day
                To seek the pale enchanted gold.</p>
            <a  class="btn btn-primary" mdbWavesEffect>Explore....</a>
          </div>
        </div>
   </div>

   <div class="col-md-4">
        <div class="card zoom" >
            <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" data-wow-offset="20" src="/assets/card2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Land of Almighty</h4>
              <p class="card-text">For ancient king and elvish lord
                  There many a gleaming golden hoard
                  They shaped and wrought, and light they caught
                  To hide in gems on hilt of sword.</p>
              <a  class="btn btn-primary" mdbWavesEffect>Explore...</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card zoom" >
              <img class="card-img-top wow lightSpeedIn" data-wow-delay="0.6s" src="/assets/card4.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Garland of Flowers</h4>
                <p class="card-text">On silver necklaces they strung
                    The flowering stars, on crowns they hung
                    The dragon-fire, in twisted wire
                    They meshed the light of moon and sun.
                    </p>
                <a  class="btn btn-primary" mdbWavesEffect>Explore...</a>
              </div>
            </div>
  </div>

  </div>

  
</div>

</main>
